.sandbox .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bB.svg');
}
.sandbox .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wB.svg');
}
.sandbox .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bN.svg');
}
.sandbox .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wN.svg');
}
.sandbox .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bR.svg');
}
.sandbox .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wR.svg');
}
.sandbox .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bQ.svg');
}
.sandbox .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wQ.svg');
}
.sandbox .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bK.svg');
}
.sandbox .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wK.svg');
}
.sandbox .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bP.svg');
}
.sandbox .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wP.svg');
}

.sandbox .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bF.svg');
}
.sandbox .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wF.svg');
}
.sandbox .cg-wrap piece.w-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bW.svg');
}
.sandbox .cg-wrap piece.w-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wW.svg');
}
.sandbox .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bC.svg');
}
.sandbox .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wC.svg');
}
.sandbox .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bM.svg');
}
.sandbox .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wM.svg');
}
.sandbox .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bA.svg');
}
.sandbox .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wA.svg');
}
.sandbox .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bCm.svg');
}
.sandbox .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wCm.svg');
}
.sandbox .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bG.svg');
}
.sandbox .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wG.svg');
}
.sandbox .cg-wrap piece.u-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bNN.svg');
}
.sandbox .cg-wrap piece.u-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wNN.svg');
}
.sandbox .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bQ_.svg');
}
.sandbox .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wQ_.svg');
}
.sandbox .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bL.svg');
}
.sandbox .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wL.svg');
}
.sandbox .cg-wrap piece.o-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bO.svg');
}
.sandbox .cg-wrap piece.o-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wO.svg');
}
.sandbox .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/kiwen-suwi/bS.svg');
}
.sandbox .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/kiwen-suwi/wS.svg');
}