.sandbox .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/green/bB.svg');
}
.sandbox .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/green/wB.svg');
}
.sandbox .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/green/bN.svg');
}
.sandbox .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/green/wN.svg');
}
.sandbox .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/green/bR.svg');
}
.sandbox .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/green/wR.svg');
}
.sandbox .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/green/bQ.svg');
}
.sandbox .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/green/wQ.svg');
}
.sandbox .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/green/bK.svg');
}
.sandbox .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/green/wK.svg');
}
.sandbox .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/green/bP.svg');
}
.sandbox .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/green/wP.svg');
}

.sandbox .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/shogun/cburnett/blue/bF.svg');
}
.sandbox .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/shogun/cburnett/blue/wF.svg');
}
.sandbox .cg-wrap piece.w-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bW.svg');
}
.sandbox .cg-wrap piece.w-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wW.svg');
}
.sandbox .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bC.svg');
}
.sandbox .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wC.svg');
}
.sandbox .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bM.svg');
}
.sandbox .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wM.svg');
}
.sandbox .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bA.svg');
}
.sandbox .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wA.svg');
}
.sandbox .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bD.svg');
}
.sandbox .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wD.svg');
}
.sandbox .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bG.svg');
}
.sandbox .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wG.svg');
}
.sandbox .cg-wrap piece.u-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bU.png');
}
.sandbox .cg-wrap piece.u-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wU.png');
}
.sandbox .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bH.png');
}
.sandbox .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wH.png');
}
.sandbox .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bL.svg');
}
.sandbox .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wL.svg');
}
.sandbox .cg-wrap piece.o-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bO.svg');
}
.sandbox .cg-wrap piece.o-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wO.svg');
}
.sandbox .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/green/sandbox/bS.svg');
}
.sandbox .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/green/sandbox/wS.svg');
}