.sandbox .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/alpha/bB.svg');
}
.sandbox .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/alpha/wB.svg');
}
.sandbox .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/alpha/bN.svg');
}
.sandbox .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/alpha/wN.svg');
}
.sandbox .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/alpha/bR.svg');
}
.sandbox .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/alpha/wR.svg');
}
.sandbox .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/alpha/bQ.svg');
}
.sandbox .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/alpha/wQ.svg');
}
.sandbox .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/alpha/bK.svg');
}
.sandbox .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/alpha/wK.svg');
}
.sandbox .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/alpha/bP.svg');
}
.sandbox .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/alpha/wP.svg');
}

.sandbox .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bF.svg');
}
.sandbox .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wF.svg');
}
.sandbox .cg-wrap piece.w-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bW.svg');
}
.sandbox .cg-wrap piece.w-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wW.svg');
}
.sandbox .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bC.svg');
}
.sandbox .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wC.svg');
}
.sandbox .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bM.svg');
}
.sandbox .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wM.svg');
}
.sandbox .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bA.svg');
}
.sandbox .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wA.svg');
}
.sandbox .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bD.svg');
}
.sandbox .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wD.svg');
}
.sandbox .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bG.svg');
}
.sandbox .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wG.svg');
}
.sandbox .cg-wrap piece.u-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bNN.png');
}
.sandbox .cg-wrap piece.u-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wNN.png');
}
.sandbox .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bH.png');
}
.sandbox .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wH.png');
}
.sandbox .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bL.svg');
}
.sandbox .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wL.svg');
}
.sandbox .cg-wrap piece.o-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bO.svg');
}
.sandbox .cg-wrap piece.o-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wO.svg');
}
.sandbox .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/alpha/sandbox/bS.svg');
}
.sandbox .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/alpha/sandbox/wS.svg');
}