.sandbox .cg-wrap piece.b-piece.black {
    background-image: url('../../images/pieces/merida/bB.svg');
}
.sandbox .cg-wrap piece.b-piece.white {
    background-image: url('../../images/pieces/merida/wB.svg');
}
.sandbox .cg-wrap piece.n-piece.black {
    background-image: url('../../images/pieces/merida/bN.svg');
}
.sandbox .cg-wrap piece.n-piece.white {
    background-image: url('../../images/pieces/merida/wN.svg');
}
.sandbox .cg-wrap piece.r-piece.black {
    background-image: url('../../images/pieces/merida/bR.svg');
}
.sandbox .cg-wrap piece.r-piece.white {
    background-image: url('../../images/pieces/merida/wR.svg');
}
.sandbox .cg-wrap piece.q-piece.black {
    background-image: url('../../images/pieces/merida/bQ.svg');
}
.sandbox .cg-wrap piece.q-piece.white {
    background-image: url('../../images/pieces/merida/wQ.svg');
}
.sandbox .cg-wrap piece.k-piece.black {
    background-image: url('../../images/pieces/merida/bK.svg');
}
.sandbox .cg-wrap piece.k-piece.white {
    background-image: url('../../images/pieces/merida/wK.svg');
}
.sandbox .cg-wrap piece.p-piece.black {
    background-image: url('../../images/pieces/merida/bP.svg');
}
.sandbox .cg-wrap piece.p-piece.white {
    background-image: url('../../images/pieces/merida/wP.svg');
}

.sandbox .cg-wrap piece.f-piece.black {
    background-image: url('../../images/pieces/shogun/merida/blue/bF.svg');
}
.sandbox .cg-wrap piece.f-piece.white {
    background-image: url('../../images/pieces/shogun/merida/blue/wF.svg');
}
.sandbox .cg-wrap piece.w-piece.black {
    background-image: url('../../images/pieces/merida/syno/bS.svg');
}
.sandbox .cg-wrap piece.w-piece.white {
    background-image: url('../../images/pieces/merida/syno/wS.svg');
}
.sandbox .cg-wrap piece.c-piece.black {
    background-image: url('../../images/pieces/merida/bA.svg');
}
.sandbox .cg-wrap piece.c-piece.white {
    background-image: url('../../images/pieces/merida/wA.svg');
}
.sandbox .cg-wrap piece.m-piece.black {
    background-image: url('../../images/pieces/merida/bC.svg');
}
.sandbox .cg-wrap piece.m-piece.white {
    background-image: url('../../images/pieces/merida/wC.svg');
}
.sandbox .cg-wrap piece.a-piece.black {
    background-image: url('../../images/pieces/merida/sandbox/bA.svg');
}
.sandbox .cg-wrap piece.a-piece.white {
    background-image: url('../../images/pieces/merida/sandbox/wA.svg');
}
.sandbox .cg-wrap piece.d-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bC.svg');
}
.sandbox .cg-wrap piece.d-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wC.svg');
}
.sandbox .cg-wrap piece.g-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bG.svg');
}
.sandbox .cg-wrap piece.g-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wG.svg');
}
.sandbox .cg-wrap piece.u-piece.black {
    background-image: url('../../images/pieces/merida/sandbox/bU.svg');
}
.sandbox .cg-wrap piece.u-piece.white {
    background-image: url('../../images/pieces/merida/sandbox/wU.svg');
}
.sandbox .cg-wrap piece.h-piece.black {
    background-image: url('../../images/pieces/merida/sandbox/bQ_.svg');
}
.sandbox .cg-wrap piece.h-piece.white {
    background-image: url('../../images/pieces/merida/sandbox/wQ_.svg');
}
.sandbox .cg-wrap piece.l-piece.black {
    background-image: url('../../images/pieces/shogun/merida/mono/bM.svg');
}
.sandbox .cg-wrap piece.l-piece.white {
    background-image: url('../../images/pieces/shogun/merida/mono/wM.svg');
}
.sandbox .cg-wrap piece.o-piece.black {
    background-image: url('../../images/pieces/merida/sandbox/bO.svg');
}
.sandbox .cg-wrap piece.o-piece.white {
    background-image: url('../../images/pieces/merida/sandbox/wO.svg');
}
.sandbox .cg-wrap piece.s-piece.black {
    background-image: url('../../images/pieces/merida/sandbox/bE.svg');
}
.sandbox .cg-wrap piece.s-piece.white {
    background-image: url('../../images/pieces/merida/sandbox/wE.svg');
}