.shinogi .cg-wrap piece.p-piece.ally {
    background-image: url('../../images/pieces/shinogi/wP.svg');
}
.shinogi .cg-wrap piece.pp-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+P.svg');
}
.shinogi .cg-wrap piece.b-piece.ally {
    background-image: url('../../images/pieces/shinogi/wB.svg');
}
.shinogi .cg-wrap piece.pb-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+B.svg');
}
.shinogi .cg-wrap piece.n-piece.ally {
    background-image: url('../../images/pieces/shinogi/wN.svg');
}
.shinogi .cg-wrap piece.pn-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+N.svg');
}
.shinogi .cg-wrap piece.r-piece.ally {
    background-image: url('../../images/pieces/shinogi/wR.svg');
}
.shinogi .cg-wrap piece.pr-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+R.svg');
}
.shinogi .cg-wrap piece.l-piece.ally {
    background-image: url('../../images/pieces/shinogi/wL.svg');
}
.shinogi .cg-wrap piece.pl-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+L.svg');
}
.shinogi .cg-wrap piece.s-piece.ally {
    background-image: url('../../images/pieces/shinogi/wS.svg');
}
.shinogi .cg-wrap piece.ps-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+S.svg');
}
.shinogi .cg-wrap piece.g-piece.ally {
    background-image: url('../../images/pieces/shinogi/wG.svg');
}
.shinogi .cg-wrap piece.k-piece.white.ally {
    background-image: url('../../images/pieces/shinogi/wK.svg');
}
.shinogi .cg-wrap piece.k-piece.black.ally {
    background-image: url('../../images/pieces/shinogi/bK_f.svg');
}
.shinogi .cg-wrap piece.p-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bP.svg');
}
.shinogi .cg-wrap piece.pp-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+P.svg');
}
.shinogi .cg-wrap piece.b-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bB.svg');
}
.shinogi .cg-wrap piece.pb-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+B.svg');
}
.shinogi .cg-wrap piece.n-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bN.svg');
}
.shinogi .cg-wrap piece.pn-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+N.svg');
}
.shinogi .cg-wrap piece.r-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bR.svg');
}
.shinogi .cg-wrap piece.pr-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+R.svg');
}
.shinogi .cg-wrap piece.l-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bL.svg');
}
.shinogi .cg-wrap piece.pl-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+L.svg');
}
.shinogi .cg-wrap piece.s-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bS.svg');
}
.shinogi .cg-wrap piece.ps-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+S.svg');
}
.shinogi .cg-wrap piece.g-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bG.svg');
}
.shinogi .cg-wrap piece.k-piece.white.enemy {
    background-image: url('../../images/pieces/shinogi/wK_f.svg');
}
.shinogi .cg-wrap piece.k-piece.black.enemy {
    background-image: url('../../images/pieces/shinogi/bK.svg');
}

.shinogi .cg-wrap piece.c-piece.ally {
    background-image: url('../../images/pieces/shinogi/wC.svg');
}
.shinogi .cg-wrap piece.c-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bC.svg');
}
.shinogi .cg-wrap piece.m-piece.ally {
    background-image: url('../../images/pieces/shinogi/wM.svg');
}
.shinogi .cg-wrap piece.pm-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+M.svg');
}
.shinogi .cg-wrap piece.m-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bM.svg');
}
.shinogi .cg-wrap piece.pm-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+M.svg');
}
.shinogi .cg-wrap piece.f-piece.ally {
    background-image: url('../../images/pieces/shinogi/wF.svg');
}
.shinogi .cg-wrap piece.pf-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+F.svg');
}
.shinogi .cg-wrap piece.f-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bF.svg');
}
.shinogi .cg-wrap piece.pf-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+F.svg');
}
.shinogi .cg-wrap piece.o-piece.ally {
    background-image: url('../../images/pieces/shinogi/wO.svg');
}
.shinogi .cg-wrap piece.po-piece.ally {
    background-image: url('../../images/pieces/shinogi/w+O.svg');
}
.shinogi .cg-wrap piece.o-piece.enemy {
    background-image: url('../../images/pieces/shinogi/bO.svg');
}
.shinogi .cg-wrap piece.po-piece.enemy {
    background-image: url('../../images/pieces/shinogi/b+O.svg');
}